$background-color: #f9f9f9;

body {
  background-color: $background-color;
}


//testing classes
.result-list{
  display: inline-grid;
}

.gamepage{
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.resultpage{
  margin-left: 20%;
  margin-right: 20%;
}

.game_link{
  margin-left: 0;
  margin-right: 0;
}

.data{
  float: left;
  text-align: left;
}
